---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    <p class="post-summary">
      <b>My rating:</b> {{ page.rating }}/10
      <br>
      <b>Playtime:</b> {{ page.playtime }}
      <br>
      <b>Tags:</b> <span>
	{% for tag in page.tags %}
	  {% capture tag_name %}{{ tag }}{% endcapture %}
	  <a href="/tag/{{ tag_name }}"><code><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
	  {% endfor %}
      <br>
      {% if page.steam_link %}
      <a class="steam-link" href="{{ page.steam_link }}" target="_blank">
        <span class="icon icon--steam">{% include icon-steam.svg %}</span>
	{{ page.title }} on Steam
      </a>
      {% endif %}
      {% if page.custom_link %}
      <a class="custom-link" href="{{ page.custom_link }}" target="_blank">
	<span class="icon icon--link">{% include icon-link.svg %}</span>
	{{ page.custom_link_text }}
      </a>
      {% endif %}
    </p>
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
